[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
After=network-online.target

[Service]
Type=notify
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/local/bin/k3s server --cluster-init \
                                    --tls-san {{kubernetes_api_public_address}} \
                                    --advertise-address {{ internalIPv4 }} \
                                    --bind-address {{ internalIPv4 }}  \
                                    --flannel-iface={{ wireguard_interface }} \
                                    --cluster-cidr {{ cluster_cidr }} \
                                    --service-cidr {{ service_cidr }} \
                                    --cluster-dns {{ cluster_dns }} \
                                    --cluster-domain {{ cluster_domain }} \
                                    --disable servicelb \
                                    --disable local-storage \
                                    --disable traefik \
                                    --etcd-expose-metrics=true \
                                    --kube-controller-manager-arg address={{ internalIPv4 }} bind-address={{ internalIPv4 }} \
                                    --kube-proxy-arg metrics-bind-address={{ internalIPv4 }} \
                                    --kube-scheduler-arg address={{ internalIPv4 }} bind-address={{ internalIPv4 }} \
                                    --resolv-conf=/etc/rancher/k3s-resolv.conf
KillMode=process
Delegate=yes
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
