apiVersion: v1
kind: Service
metadata:
  name: dns-external
spec:
  externalIPs:
{% for host in lookup('inventory_hostnames', 'dns', wantlist=True) %}
    - "{{ hostvars[host].externalIPv4 }}"
{% endfor %}