---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: flux-system
  name: infrastructure-settings
data:
  NETWORK_K8S_CLUSTER_CIDR: "{{ cluster_cidr }}"
  NETWORK_K8S_SERVICE_CIDR: "{{ service_cidr }}"
  NETWORK_K8S_CLUSTER_DNS: "{{ cluster_dns }}"
  NETWORK_K8S_CLUSTER_DOMAIN: "{{ cluster_domain }}"

  SVC_KUBERNETES_API_PUBLIC: "{{ kubernetes_api_public_address }}"
  BASE_DOMAIN: "{{ base_domain }}"
