apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  values:
    kubeControllerManager:
      endpoints:
{% for host in lookup('inventory_hostnames', 'kube-master', wantlist=True) %}
        - "{{ hostvars[host].internalIPv4 }}"
{% endfor %}
    kubeScheduler:
      endpoints:
{% for host in lookup('inventory_hostnames', 'kube-master', wantlist=True) %}
        - "{{ hostvars[host].internalIPv4 }}"
{% endfor %}
    kubeProxy:
      endpoints:
{% for host in lookup('inventory_hostnames', 'kube-master', wantlist=True) %}
        - "{{ hostvars[host].internalIPv4 }}"
{% endfor %}
    kubeEtcd:
      endpoints:
{% for host in lookup('inventory_hostnames', 'kube-master', wantlist=True) %}
        - "{{ hostvars[host].internalIPv4 }}"
{% endfor %}