apiVersion: v1
kind: Namespace
metadata:
  name: cattle-system
  labels:
    app: rancher
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: rancher
  namespace: kube-system
spec:
  chart: rancher
  repo: https://releases.rancher.com/server-charts/stable
  targetNamespace: cattle-system
  set:
    hostname: {{ kubernetes_api_public_address }}